@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
   background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  margin: 60px auto;
}

input, select, button {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 6px;
  width: 100%;
  max-width: 500px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

input:focus, select:focus {
  border-color: #ff6b6b;
  outline: none;
  box-shadow: 0 0 8px rgba(255, 107, 107, 0.4);
}

button {
  background-color: #ff6b6b;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 8px;
}

button:hover {
  background-color: #ff4757;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

li {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
}

li:hover {
  background-color: #f8f9fa;
}

li button {
  background-color: #ff4757;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: #e74c3c;
}

li button:nth-child(2) {
  background-color: #feca57;
  color: black;
}

li button:nth-child(2):hover {
  background-color: #fab140;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  form {
    width: 95%;
  }

  ul {
    width: 95%;
  }
}
